<style>
  button {
  margin-left: 5px;
}
</style>
<button (click)="agregarFila()">+</button>

<table mat-table [dataSource]="asitencias" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container *ngFor="let fecha of displayedColumns.slice(1)" [matColumnDef]="fecha">
    <th mat-header-cell *matHeaderCellDef> {{fecha}}
      <button (click)="editarFecha(fecha)">🖉</button>
      <button (click)="eliminarFecha(fecha)">🗑</button>
    </th>
    <td mat-cell *matCellDef="let element"> {{this.servicioAsistencias.getEstadoAsistencia(element.asistencias, fecha)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
