<style>
  .accordion {
  width: 700px;
}

.accordion-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.accordion-header {
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-header.active {
  background-color: #ccc;
}

.accordion-content {
  padding: 15px;
  background-color: #fff;
}

</style>
<div class="contenido">
  <div id="outerContainer">
      <div class="pdf-container" style="display: flex; flex-direction: column;  align-items: center; justify-content: center;">
          <a href="{{getSrc()}}" >Ver</a>
          <pdf-viewer
          [src]="getSrc()"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 50%; height: 85vh;"
          (after-load-complete)="readPdf($event)"
        ></pdf-viewer>
          
  <div class="accordion">
    <div class="accordion-item">

      <button class="accordion-header" (click)="toggle()">
        <p>
          Quieres profundizar mas?
        </p>
        Tipo: {{material?.tipo}} 
      </button>
      <div class="accordion-content" *ngIf="isOpen">
        <div [innerHTML]="response"></div>
      </div>
    </div>
  </div>
  
     
      </div>
     
    </div>
  
  </div>

  