
  <div class="search-section">
    <label>Buscar por Nombre: </label>
    <input [(ngModel)]="filtroNombre" name="filtroNombre" placeholder="Nombre">
    <input [(ngModel)]="filtroapellido" name="filtroapellido" placeholder="Apellido">
  </div>

<div class="container">
  <button class="add-button" (click)="abrirFormulario()">
    <span>+</span> Agregar Estudiante
  </button>

  <div class="modal" *ngIf="mostrarFormulario">
    <div class="modal-content">
      <span class="close" (click)="cerrarFormulario()">&times;</span>
      <h2>{{ editando ? 'Editar Estudiante' : 'Agregar Estudiante' }}</h2>

 <form (ngSubmit)="guardarEstudiante()">
  <label>Nombre:</label>
  <input [(ngModel)]="estudiante.nombre" name="nombre" required (ngModelChange)="generarEmailYPassword()" />

  <label>Apellido:</label>
  <input [(ngModel)]="estudiante.apellido" name="apellido" required (ngModelChange)="generarEmailYPassword()" />

  <label>Email:</label>
  <input [(ngModel)]="estudiante.email" name="email" required />

  <label>Password:</label>
  <input [(ngModel)]="estudiante.password" name="password" type="password" required />

  <label>Paralelo:</label>
  <input [(ngModel)]="paraleloInput" name="paralelo" required />

  <label>Foto (URL):</label>
  <input [(ngModel)]="estudiante.foto" name="foto" />

  <button type="submit">{{ editando ? 'Guardar Cambios' : 'Agregar' }}</button>
</form>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Paralelo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantesFiltrados">
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.apellido }}</td>
        <td>{{ estudiante.email }}</td>
        <td>{{ estudiante.paralelo?.paralelo }}</td>
        <td>
          <button (click)="editarEstudiante(estudiante.id_estudiante)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
