<div class="titulo">
  <div class="area-materias"><b>Área: Ciencias</b></div>
  <div *ngIf="estudianteSeleccionado">
       <p><b>Nombre estudiante:</b> {{ estudianteSeleccionado.nombre }} {{ estudianteSeleccionado.apellido }}</p>
  </div>
</div>

<div class="notas-container">
  <h2>Notas por Trimestre</h2>
  <div *ngFor="let trimestre of notasPorTrimestre | keyvalue" class="trimestre-section">
    <h3>Trimestre {{ trimestre.key }}</h3>

    <div class="notas">
      <div class="nota-item">
        <span class="tipo-label">Ser:</span>
        <span class="nota-value">{{ trimestre.value.ser[0].nota }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Saber:</span>
        <span class="nota-value">{{ trimestre.value.saber[0].nota }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Hacer:</span>
        <span class="nota-value">{{ trimestre.value.hacer[0].nota }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Decidir:</span>
        <span class="nota-value">{{ trimestre.value.decidir[0].nota }}</span>
      </div>
      <div class="nota-item total">
        <span class="tipo-label"><strong>Total:</strong></span>
        <span class="nota-value"><strong>{{ (convertToNumber(trimestre.value.ser[0].nota) + convertToNumber(trimestre.value.saber[0].nota) + convertToNumber(trimestre.value.hacer[0].nota) + convertToNumber(trimestre.value.decidir[0].nota)) / 4 }}</strong></span>
      </div>

    </div>
  </div>
</div>
