.form-container
  display: flex
  flex-direction: column
  margin-bottom: 20px

.form-container label
  margin-bottom: 10px

.container
  display: flex
  flex-wrap: wrap
  gap: 20px
  justify-content: center

.card-wrapper
  display: flex
  flex-direction: column
  align-items: center
  background-color: #f9f9f9
  padding: 10px
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  transition: transform 0.2s, box-shadow 0.2s

  &:hover
    transform: scale(1.05)
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)

.card
  border: 1px solid #ddd
  border-radius: 8px
  width: 150px
  height: 150px
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  overflow: hidden
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  margin-bottom: 10px

.card img
  max-width: 100%
  max-height: 100%
  object-fit: cover
  border-radius: 4px

.button-group
  display: flex
  justify-content: space-between
  width: 100%
  margin-top: 5px

.button-group button
  width: 70px
  padding: 5px 10px
  border: none
  background-color: #d8b4e2 // Lila más claro para editar y eliminar
  color: #fff
  border-radius: 4px
  cursor: pointer
  transition: background-color 0.3s

  &:hover
    background-color: #c8a3d9 // Lila más claro al pasar el ratón

.add-content-btn
  margin-top: 20px
  padding: 10px 20px
  border: none
  background-color: #b589d6 // Lila oscuro para "Agregar Nuevo Contenido"
  color: #fff
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s

  &:hover
    background-color: #a072c5 // Lila oscuro al pasar el ratón
