<div class="buscador">
  <!-- Input para escribir el término de búsqueda -->
  <input
    type="text"
    class="text-input"
    placeholder="Escribe tu búsqueda..."
    [(ngModel)]="busqueda"
    (ngModelChange)="filtrarMaterias()"
  />

  <!-- Combo box para seleccionar el filtro -->
  <select [(ngModel)]="tipoFiltro" (change)="filtrarMaterias()" class="text-input">
    <option value="materia">Materia</option>
    <option value="docente">Docente</option>
    <option value="paralelo">Paralelo</option>
  </select>
</div>

<div *ngIf="materiasFiltradas.length === 0">
  <p>No se encontraron materias que coincidan con los criterios de búsqueda.</p>
</div>

<!-- Lista de materias filtradas -->
<div class="materias-container">
  <div *ngFor="let materia of materiasFiltradas" class="materia-detalle">
    <img [src]="materia.imagen" alt="{{materia.materia}}" />
    <div>
      <h2>{{materia.materia}}</h2>
      <p><strong>Profesor:</strong> {{materia.profesor}}</p>
      <p><strong>Paralelo:</strong> {{materia.paralelo}}</p>
      <p><strong>Faltas:</strong> {{materia.faltas}}</p>
      <p><strong>Asistencias:</strong> {{materia.asistencias}}</p>
      <p><strong>Licencias:</strong> {{materia.licencias}}</p>
      <p><strong>Total de clases:</strong> {{calcularTotalClases(materia)}}</p>
      <p><strong><a routerLink="#" class="blue-link">DETALLE</a></strong></p>
    </div>
  </div>
</div>
