<section class="contenido">
  <div class="detalles-materia">
    <h2>Matemáticas</h2>
    <p>Área: Ciencias Exactas</p>
    <p>Profesor: Juan Pérez</p>
    <p>Paralelo: 1°A</p>
  </div>
  <div class="trimestre">
    <h3>Primer Trimestre</h3>
    <div class="grid-materias">
      <div *ngFor="let materia of materias" class="materia-card">
        <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFv6Ur8ppQTxRJ6NNo44VLXINhc4jrAUOwiw&s" alt="">
          <h4>{{ materia.nombre }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>