<header>
    <div class="escudo">
        <img src="https://img.freepik.com/vector-premium/diseno-vectorial-logotipo-escuela-fondo-blanco_579306-14609.jpg" alt="Escudo">
    </div>
    <div class="titulo">
        <h1>ColegioXD</h1>
    </div>
    <div class="notificaciones">
        <img src="https://w7.pngwing.com/pngs/832/828/png-transparent-alarm-alert-attention-bell-notification-notifications-ring-random-icon-thumbnail.png" alt="Notificaciones">
    </div>
</header>

<nav>
    <div class="sidebar">
        <div class="fotoperfil">
            <img src="https://publish-p47754-e237306.adobeaemcloud.com/adobe/dynamicmedia/deliver/dm-aid--914bcfe0-f610-4610-a77e-6ea53c53f630/_330603286208.app.webp?preferwebp=true&width=312" alt="Foto de Perfil">
        </div>
        <ul>
            <li><a routerLink="/inicio">Proximamente</a></li>
            <li><a routerLink="/asistencias">Proximamente</a></li>
            <li><a routerLink="/mostrar-materia">Mis materias</a></li>
            <li><a routerLink="/notas">Proximamente</a></li>
            <li><a routerLink="/logout">Proximamente</a></li>
        </ul>
    </div>
</nav>

<main class="main-content">
    <router-outlet></router-outlet>
</main>