<div [ngClass]="getColorClass()">
  <header>
    <button (click)="toggleSidebar()" class="menu-button">&#9776;</button>
    <div class="titulo">
      <h1><b>Colegio San Rafael</b></h1>
    </div>
    <div class="acciones">
      <div class="perfil-notificaciones">
        <img
          class="notificaciones"
          src="../../../assets/img/boton-de-notificaciones.png"
          alt="Notificaciones"
        />
        <a [routerLink]="userRole === 'estudiante' ? 'perfil-estudiante/' + idEstudiante : '/home/'">
          <img *ngIf="fotoPerfil || '../../../assets/img/silueta.jpg'" [src]="fotoPerfil" alt="Foto de Perfil" />
        </a>
      </div>
    </div>
  </header>

  <nav>
    <div class="sidebar" [class.open]="isSidebarOpen">
      <div class="escudo">
        <a [routerLink]="['/home']">
          <img
            src="../../../assets/img/logo.png"
            alt="Escudo"
          />
        </a>
        <b>Inicio</b>
      </div>
      <ul>
        <li *ngIf="userRole === 'profesor'">
          <a routerLink="ver-materias-docente"><b>Mis Materias</b></a>
        </li>
        <li *ngIf="userRole === 'estudiante'">
          <a routerLink="historial-asistencia"><b>Mis Asistencias</b></a>
        </li>
        <li *ngIf="userRole === 'estudiante'">
          <a routerLink="mostrar-materia"><b>Mis Materias</b></a>
        </li>
        <li *ngIf="userRole === 'estudiante'">
          <a routerLink="notas"><b>Mis Notas</b></a>
        </li>
        <li *ngIf="userRole === 'profesor'">
          <a routerLink="notas-profesor"><b>Mis Notas</b></a>
        </li>
        <li *ngIf="userRole === 'admin'">
          <a routerLink="admin-ver-estudiantes"><b>Estudiantes</b></a>
        </li>
        <li *ngIf="userRole === 'admin'" >
          <a routerLink="ver-lista-profesores"><b>Profesores</b></a>
        </li>
        <li *ngIf="userRole === 'admin'" >
          <a routerLink="materias-admin"><b>Materias</b></a>
        </li>
        <li><a (click)="logout()" routerLink="logout"><b>Log out</b></a></li>
      </ul>
    </div>
  </nav>

  <main class="main-content" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <router-outlet></router-outlet>
  </main>
</div>
