<div class="titulo">
  <div class="area-materias"><b>Área: Ciencias</b></div>
</div>

<div class="notas-container">
  <h2>Notas por Trimestre</h2>
  <div *ngFor="let trimestre of notasPorTrimestre | keyvalue" class="trimestre-section">
    <h3>Trimestre {{ trimestre.key }}</h3>

    <div class="notas">
      <div class="nota-item">
        <span class="tipo-label">Ser:</span>
        <span class="nota-value">{{ trimestre.value.ser }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Saber:</span>
        <span class="nota-value">{{ trimestre.value.saber }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Hacer:</span>
        <span class="nota-value">{{ trimestre.value.hacer }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Decidir:</span>
        <span class="nota-value">{{ trimestre.value.decidir }}</span>
      </div>
      <div class="nota-item total">
        <span class="tipo-label"><strong>Total:</strong></span>
        <span class="nota-value"><strong>{{ (convertToNumber(trimestre.value.ser) + convertToNumber(trimestre.value.saber) + convertToNumber(trimestre.value.hacer) + convertToNumber(trimestre.value.decidir)) / 4 }}</strong></span>
      </div>

      <!-- Botón para abrir el modal -->
      <div class="nota-item">
        <button mat-button (click)="abrirModal(trimestre.value)">
          <img src="https://png.pngtree.com/png-clipart/20230921/original/pngtree-comicstyle-notepad-with-editing-pencil-icon-edit-isolated-note-vector-png-image_12814232.png" alt="Editar" width="60" height="60">
        </button>
      </div>
    </div>
  </div>
</div>
