<div class="notas-container">
  <h2>Notas por Trimestre</h2>
  
  <div *ngFor="let trimestre of notasPorTrimestre | keyvalue" class="trimestre-section">
    <h3>Trimestre {{ trimestre.key }}</h3>
    
    <div class="notas">
      <div class="nota-item">
        <span class="tipo-label">Ser:</span>
        <span class="nota-value">{{ trimestre.value.ser }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Saber:</span>
        <span class="nota-value">{{ trimestre.value.saber }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Hacer:</span>
        <span class="nota-value">{{ trimestre.value.hacer }}</span>
      </div>
      <div class="nota-item">
        <span class="tipo-label">Decidir:</span>
        <span class="nota-value">{{ trimestre.value.decidir }}</span>
      </div>
      <div class="nota-item total">
        <span class="tipo-label"><strong>Total:</strong></span>
        <span class="nota-value"><strong>{{ trimestre.value.total/4 }}</strong></span>
      </div>
    </div>
  </div>
</div>
