<div [ngClass]="getColorClass()" >
  <div class="titulo">
    <h1><b>{{materiaAsiganda?.materia?.nombre}}</b></h1>

    <div class="profesor-nombre"><b>Profesor: {{materiaAsiganda?.profesor?.nombre}}</b></div>
    <div class="Paralelo"><b>Paralelo: {{materiaAsiganda?.materia?.paralelo?.paralelo}}</b></div>
  </div>
  <div class="titulo-contenido">
    <h2><b>Contenidos</b></h2>
  </div>
  <div class="materias-contenedor">
    <div *ngFor="let card of this. unidades" class="materia-card">
      <img class="img-card"  [src]="card.imagen_url" alt="Module Image"/>

      <div class="enlace-detalles">
      <p><b>{{ card.nombre }}</b></p>
      <button mat-button [routerLink]="['/home/ver-materiales-estudiante', card.id_unidad]" class="custom-button"><b>Consulta IA</b></button>
    </div>
    </div>
  </div>
</div>
