.contenido-materia-detalle
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .titulo-contenido
    width:100%
    margin:0 auto
    text-align: center
    margin-bottom: 30px
    margin-top: 30px

img
 width: 200px
 height: 200px


.titulo-contenido-boton
    display: flex
    align-items: center
    justify-content: center
    gap: 40px




.tema-container
  flex: 1 1 calc(30% - 20px)
  margin-bottom: 20px
  margin-right: 10px

  &:last-child
    margin-right: 0

.tema
  border: 1px solid #ccc
  padding: 10px
  border-radius: 5px
  background-color: #f9f9f9
  text-align: center

.imagen-materia img
  max-width: 100%
  height: auto
  border-radius: 5px
  margin: 0 auto
.enlace-detalles
  display: flex
  justify-content: flex-end
  gap: 10px

